.main_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

button{
    width: 80px;
    height: 30px;
    background-color: cadetblue;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}