<div class="head">
    <img src="../../assets/ltc.png"> 
    <h2>Leetcode Statistics!</h2>
</div>

<body class="main_container">
    <div class = "input">
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="username" [formControl]="lt_name" placeholder="Enter the username" required>
            <mat-error *ngIf="lt_name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="(lt_name.valid == true)?false:true" (click)="onClick()">Get</button>
    </div>
    
    <div *ngIf="result">
        <h3>Results</h3>
        <ul *ngFor="let val of result|keyvalue: originalOrder">
            <p>{{val.key}}: {{val.value}}</p>
        </ul>

    </div>
</body>